.idea
typings/**
demo/typings/**
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
npm-debug.log*
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
*.metadata.json
*.ngsummary.json
*.ngfactory.json
*.ngfactory.ts
*.d.ts
*.log

!karma*.js
!protractor*.js
!typings/typings.d.ts
!wallaby.js

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
yarn-error.log

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log

# System files
.DS_Store
Thumbs.db
